/* particles.css -- Styles for heading banners */

.banner {
  width: 100%;
  height: 200px;
  z-index: -1;
  position: relative;
}

#portfolioBanner {
  background-color: rgb(19, 21, 22);
}

#resumeBanner {
  background-color: rgb(35, 39, 65);
}

#aboutBanner {
  background-color: rgb(114,0,0);
}

p.bannerText {
  position: absolute;
  font-family: "Crimson Text", Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
  z-index: 100;
  width: 100%;
  text-align: center;
  line-height: 200px;
  background-color: transparent;
  color: whitesmoke;
}
