/** footer.css -- CSS for the footer */

footer {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin-top: 3%;
  color: whitesmoke;
  text-align: center;
  background-color: rgb(30,30,30);
}

footer ul {
  display: inline-flex;
  list-style-type: none;
}

footer ul li {
  padding: 15px 10px;
}

footer ul li a {
  text-decoration: none;
  padding: 15px;
  color: white;
}

footer a:hover {
  color: salmon;
}

footer a:focus {
  color: salmon;
}
