/** footer.css -- CSS for the footer */

footer {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 50px;
  background-color: rgb(17, 12, 12);
}

footer ul {
  display: inline-flex;
  list-style-type: none;
}

footer ul li {
  padding-left: 2em;
  padding-right: 2em;
  min-height: 25px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: salmon;
}

footer a:focus {
  color: salmon;
}

span#copy {
  color: darkgray;
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
