/* index.css -- CSS for most content

Sections
-----
  0 - Global Settings
  A - General Style
-----
*/

/* 0 - Global Settings */
/* Removes browser-specific margins and padding */
* {
  position: relative;
  padding: 0;
  margin: 0;
}
/* Section 0 End */

/* A - General Style */
ol {
  margin-top: 1em;
  margin-left: 2em;
}

#bannerContent {
  top: 50px; /* Height of navbar */
}

#content {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5% 0;
  padding: 0 5%;
  overflow-y: auto;
}

#welcomeHeader {
  font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
  margin: 1em 0;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(247, 247, 247);
}
/* Section A End */
