/* index.css -- CSS for most content

Sections
-----
 A - General Style
-----
*/

/* A - General Style */
#content {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 2.5rem 5%;
}

h1 {
    font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(247, 247, 247);
}
/* Section A End */