/*
Footer Styling based on the "Modern Footer" style by Prabu.
https://bootsnipp.com/snippets/p1Zva
*/

html, body {height: 100%; padding: 0; margin: 0; }
body { display: table; width: 100%; padding-top: 40px}

/* Font Class */
.font {font-family: 'Crimson Text', Cambria, Cochin, Georgia, Times, Times New Roman, serif !important}

a#alice-hover:hover{
    color: #c0c0c0 !important;
}
.header, .footer, .content { display: table-row; }
.content { margin-top: 80px}
.header, .footer { height: 0px; }
.main-body {padding-bottom: 0px;}
footer { background-color:#1d2124; min-height:260px; position:relative; left:0px; right:0px; bottom:0px; width:100%;}
.footer-col { margin-top:30px; margin-bottom: 0px}
.footer-col p { color:#fff; font-size:12px; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}